<!-- This is a static file -->
<!-- served from your routes in server.js -->

<!-- You might want to try something fancier: -->
<!-- html/nunjucks docs: https://mozilla.github.io/nunjucks/ -->
<!-- pug: https://pugjs.org/ -->
<!-- haml: http://haml.info/ -->
<!-- hbs(handlebars): http://handlebarsjs.com/ -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Welcome to Glitch!</title>
    <meta name="description" content="A cool thing made with Glitch" />
    <link
      id="favicon"
      rel="icon"
      href="https://glitch.com/edit/favicon-app.ico"
      type="image/x-icon"
    />
    <meta name="google" content="notranslate h" />
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- style -->
    <link
      rel="stylesheet"
      href="//cdn.jsdelivr.net/npm/turretcss@5.2.1/dist/turretcss.min.css"
    />
    <link
      rel="stylesheet"
      href="//raw.githack.com/rishabh-rajgarhia/bootstrap-4-utilities/master/dist/bootstrap-4-utilities.min.css"
    />

    <!-- custom -->
    <link rel="stylesheet" href="./style.css" />

    <!-- promise polyfill -->
    <script src="//cdn.jsdelivr.net/npm/promise-polyfill@8/dist/polyfill.min.js"></script>
    <!-- alert -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/8.11.8/sweetalert2.all.min.js"></script>

    <meta name="translate" content="{{requrl}}" />

    <!-- import the webpage's client-side javascript file -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
  </head>
  <body>
    <div id="pop" style="display: none;">
      Hello!
      <!----><br /><!---->
      We have detected that you tried to visit and translate our Website using
      the Web version of
      <span class="notranslate"><i>Google Translate</i></span
      >.
      <!----><br /><!---->
      We currently do not support this and instead recommend you to visit this
      page with the
      <span class="notranslate">"Bing Translator"</span>.
      <!----><br /><!---->
      Click on the "Translate" button below to go to our recommended
      translation.
      <!----><br /><!---->
      You can click the <i><b>x</b></i> on the right or press the "ESC" key to
      stay on this page and view it in the original language.
      <!----><br /><!---->
      <div class="mt-3">
        <a class="button button-primary" id="translate_">Translate</a>
      </div>
    </div>

    <div id="ask" style="display: none;">
      Hello!
      <!----><br /><!---->
      We have detected that you tried to visit and translate our Website using
      the Web version of
      <span class="notranslate"><i>Google Translate</i></span
      >.
      <!----><br /><!---->
      We currently do not support this and instead recommend you to visit this
      page with the
      <span class="notranslate">"Bing Translator"</span>.
      <!----><br /><!---->
      Please copy the address below and paste it in your navigation bar:
      <!----><br /><!---->
      <div class="notranslate">
        <p class="field notranslate">
          <label for="input-tel">URL:</label>
          <input type="text" readonly />
        </p>
      </div>

      You can click the <i><b>x</b></i> on the right or press the "ESC" key to
      stay on this page and view it in the original language.
    </div>

    <form class="notranslate">
      <header>
        <div class="container notranslate">
          <section>
            <h1>
              🧁 fancy website title
            </h1>
          </section>
        </div>
      </header>

      <main class="background-white padding-vertical-xxl">
        <section class="d-flex justify-content-center">
          <h2 class="notranslate">
            Fat baby cat best buddy little guy catto munch salmono<br /><small
              >Cry louder at reflection you are a captive audience while sitting
              on the toilet, pet me</small
            >
          </h2>
        </section>

        <!---------------------------------->
        <div class="container">
          <section class="border col-4 p-4 m-4">
            Cat ipsum dolor sit amet, paw at your fat belly but meowing non stop
            for food, for chew foot poop in the plant pot. Sit in window and
            stare oooh, a bird, yum sniff sniff dead stare with ears cocked
            shove bum in owner's face like camera lens. 𝕄𝔼𝕆𝕎 try to jump onto
            window and fall while scratching at wall intrigued by the shower,
            and pee in the shoe but throwup on your pillow the cat was chasing
            the mouse mouse. Pee in the shoe lie on your belly and purr when you
            are asleep cough furball into food bowl then scratch owner for a new
            one or sit on human they not getting up ever yet be superior. Drool
            immediately regret falling into bathtub or mouse yet instantly break
            out into full speed gallop across the house for no reason i like to
            spend my days sleeping and eating fishes that my human fished for me
            we live on a luxurious yacht, sailing proudly under the sun, i like
            to walk on the deck, watching the horizon, dreaming of a good bowl
            of milk for kitty kitty. Instantly break out into full speed gallop
            across the house for no reason gnaw the corn cob, and hunt anything
            that moves. Jump around on couch, meow constantly until given food,
            cats go for world domination and i see a bird i stare at it i meow
            at it i do a wiggle come here birdy yet put toy mouse in food bowl
            run out of litter box at full speed . Sleep on keyboard have secret
            plans and enslave the hooman in the middle of the night i crawl onto
            your chest and purr gently to help you sleep there's a forty year
            old lady there let us feast. Love me!. Mrow eat too much then
            proceed to regurgitate all over living room carpet while humans eat
            dinner and you call this cat food. Attack the child nyan fluffness
            ahh cucumber!, my cat stared at me he was sipping his tea, too kitty
            scratches couch bad kitty and spit up on light gray carpet instead
            of adjacent linoleum meow yet make meme, make cute face. Cough
            furball jump off balcony, onto stranger's head, so love you, then
            bite you. Bite nose of your human always ensure to lay down in such
            a manner that tail can lightly brush human's nose for my slave human
            didn't give me any food so i pooped on the floor and hunt anything
            that moves cat snacks. White cat sleeps on a black shirt bite nose
            of your human find box a little too small and curl up with fur
            hanging out check cat door for ambush 10 times before coming in or
            russian blue but ask for petting. Kitty kitty throwup on your pillow
            a nice warm laptop for me to sit on yet being gorgeous with belly
            side up with tail in the air the door is opening! how exciting oh,
            it's you, meh cats secretly make all the worlds muffins.
          </section>
          <section class="border col-4 p-4 m-4">
            Kitty poochy. A nice warm laptop for me to sit on cat cat moo moo
            lick ears lick paws yet meow meow mama or cats go for world
            domination or bite the neighbor's bratty kid. Leave fur on owners
            clothes catch eat throw up catch eat throw up bad birds. Flop over
            fat baby cat best buddy little guy, pooping rainbow while flying in
            a toasted bread costume in space lick arm hair. That box? i can fit
            in that box eat all the power cords for pet right here, no not
            there, here, no fool, right here that other cat smells funny you
            should really give me all the treats because i smell the best and
            omg you finally got the right spot and i love you right now is good
            you understand your place in my world sleep all day whilst slave is
            at work, play all night whilst slave is sleeping. What the heck just
            happened, something feels fishy twitch tail in permanent irritation
            so paw your face to wake you up in the morning spill litter box,
            scratch at owner, destroy all furniture, especially couch. Hide at
            bottom of staircase to trip human hate dog. Paw your face to wake
            you up in the morning ears back wide eyed who's the baby eat too
            much then proceed to regurgitate all over living room carpet while
            humans eat dinner. Ask for petting meeeeouw where is my slave? I'm
            getting hungry so eat a plant, kill a hand. Eat from dog's food.
            Stretch. Climb a tree, wait for a fireman jump to fireman then
            scratch his face meoooow meow purr while eating but ask to go
            outside and ask to come inside and ask to go outside and ask to come
            inside. Pounce on unsuspecting person tweeting a baseball. Massacre
            a bird in the living room and then look like the cutest and most
            innocent animal on the planet. Touch my tail, i shred your hand
            purrrr sleep in the bathroom sink. Bury the poop bury it deep who's
            the baby, and in the middle of the night i crawl onto your chest and
            purr gently to help you sleep knock dish off table head butt cant
            eat out of my own dish reward the chosen human with a slow blink. X
            meowzer. Ignore the squirrels, you'll never catch them anyway meow
            all night having their mate disturbing sleeping humans chew master's
            slippers caticus cuteicus.
          </section>
        </div>
        <!---------------------------------->
      </main>
    </form>
  </body>
  <script src="/client.js" defer></script>
</html>
