body {
  padding: 15px;
}

pre {
  flex: auto;
}

section,
header {
  display: flex;
}
.container {
  width: auto !important;
  margin-top: 15px;
}
pre[pre] {
  background: whitesmoke;
  flex: none;
}
pre[pos] {
  background: #b2dcef;
  max-width: 100%;
}

section.col{
  flex-direction: column;
}

.container{
      display: flex;
}

form.blur{
  filter: blur(5px);
}

.swal2-popup{
  width: 64vh!important;
}